certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
configparser==3.7.3
crayons==0.2.0
Django==2.1.2
django-cors-headers==2.5.2
idna==2.8
mysql-connector==2.1.6
mysqlclient==1.4.2.post1
pytz==2018.9
requests==2.21.0
selenium==3.141.0
urllib3==1.24.1
webdriver-manager==1.7

aioredis==1.2.0
aniso8601==6.0.0
asgiref==3.1.1
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.3.3
Automat==0.7.0
certifi==2019.3.9
channels==2.2.0
channels-redis==2.4.0
chardet==3.0.4
chat==1.0.7.dev136
Click==7.0
colorama==0.4.1
configparser==3.7.3
constantly==15.1.0
crayons==0.2.0
daphne==2.3.0
Django==2.1.2
django-cors-headers==2.5.2
Flask==0.11.1
Flask-RESTful==0.3.6
Flask-Uploads==0.2.1
hiredis==1.0.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
itsdangerous==1.1.0
jieba==0.39
Jinja2==2.10.1
MarkupSafe==1.1.1
msgpack==0.6.1
mysql-connector==2.1.6
mysqlclient==1.4.2.post1
numpy==1.13.1
pbr==3.1.1
py2neo==3.1.2
PyHamcrest==1.9.0
pypinyin==0.22.0
pytz==2018.9
requests==2.12.1
selenium==3.141.0
six==1.12.0
Twisted==19.2.0
txaio==18.8.1
urllib3==1.24.1
webdriver-manager==1.7
Werkzeug==0.15.2
xlrd==1.0.0
xlwt==1.2.0
zope.interface==4.6.0
