<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 9]>
<html id="ie9" dir="ltr" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html dir="ltr" lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sommerce Shop | The perfect e-commerce solution</title>
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 980px)" href="css/lessthen980.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 600px)" href="css/lessthen600.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" href="css/lessthen480.css" />
    <link rel="stylesheet" href="css/shop.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/tipsy.css" type="text/css" media="all" />
    <link rel='stylesheet' href='css/jquery-rotating.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/slider-cycle.css' type='text/css' media='all' />
    
    <!-- [favicon] begin -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- [favicon] end -->  
    
    <!-- FONT -->

    
    <!-- SCRIPTS -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="js/jquery.tweetable.js"></script>
    <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="js/jquery.cycle.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/comment-reply.js"></script>
    
    <link rel="stylesheet" type="text/css" media="all" href="css/home.css" />

    </head>
    <body class="responsive boxed-layout no_js">
        <!-- START LIGHT WRAPPER -->
        <div class="bgLight group">
            <!-- START WRAPPER -->
            <div class="wrapper group">
                <!-- START BG WRAPPER -->
                <div class="bgWrapper group">
                    <!-- START HEADER -->
                    <div id="header" class="group">
                        <!-- .inner -->
                        <div class="inner group">
                            <!-- START LOGO -->
                            <div id="logo" class="group">
                                <a href="index.html" title="Sommerce Shop"> 
                                <span class="logo-title">Sommerce Shop</span>
                                </a>         
                                <p class="logo-description">The perfect e-commerce solution</p>
                            </div>
                            <!-- END LOGO -->        
                            <!-- START LINKSBAR -->
                            <ul id="linksbar" class="group">
                                <li class="icon cart">
                                    <a class="trigger" href="cart.html">
                                    <span> 0 items &ndash; &euro;0.00 </span>
                                    </a> | 
                                    <div class="basketpopup">
                                        <h3>My Cart</h3>
                                        <span class="empty">No products in the cart.</span>
                                    </div>
                                </li>
                                <li class="icon lock">
                                    <a href="#">Logout</a> |
                                </li>
                                <li><a href="contact.html">Contact us</a> | </li>
                            </ul>
                            
                            <!-- END LINKSBAR -->  
                            <div class="clear"></div>
                            
                                <!-- START NAV -->
                                <div id="nav" class="group creative">
                                   <ul id="menu-navigation" class="level-1">
                                        <li>
                                            <a href="index.html">Home</a>
                                            <ul class="sub-menu">
                                                <li><a href="home-version-2-elegant.html">Home version 2 (elegant)</a></li>
                                                <li><a href="home-version-3-creative.html">Home version 3 (creative)</a></li>
                                                <li><a href="home-version-4.html">Home version 4</a></li>
                                                <li><a href="home-version-5-corporate.html">Home version 5 (corporate)</a></li>
                                                <li><a href="home-version-6.html">Home version 6</a></li>
                                                <li><a href="home-version-7.html">Home version 7</a></li>
                                                <li><a href="home-version-8.html">Home version 8</a></li>
                                            </ul>
                                        </li>
                                        <li class="megamenu">
                                            <a href="#">Shopping By</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="brand.html">Brand</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="#">Wallmart</a></li>
                                                        <li><a href="#">Ikea</a></li>
                                                        <li><a href="#">Pathio</a></li>
                                                        <li><a href="#">Furnishop</a></li>
                                                        <li><a href="#">Brand name</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="categories.html">Categories</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="#">Kitchen</a></li>
                                                        <li><a href="#">Bedroom</a></li>
                                                        <li><a href="#">Garden</a></li>
                                                        <li><a href="#">Bathroom</a></li>
                                                        <li><a href="#">Wood</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Prices</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="#">100 &#8211; 200 &euro;</a></li>
                                                        <li><a href="#">200 &#8211; 500 &euro;</a></li>
                                                        <li><a href="#">500 &#8211; 800 &euro;</a></li>
                                                        <li><a href="#">800 &#8211; 1000 &euro;</a></li>
                                                        <li><a href="#">1000 &#8211; 1200 &euro;</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="my-account.html">My Account</a>
                                            <ul class="sub-menu">
                                                <li><a href="change-password.html">Change Password</a></li>
                                                <li><a href="edit-address.html">Edit My Address</a></li>
                                                <li><a href="order-tracking.html">Track your order</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="shop.html">Shop</a></li>
                                        <li>
                                            <a href="blog.html">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">Big Image</a></li>
                                                <li><a href="blog-small.html">Small Image</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="testimonials.html">Testimonials</a></li>
                                                <li><a href="faq.html">Faq</a></li>
                                                <li><a href="contact.html">Get in Touch</a></li>
                                                
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="typography.html">Shortcode</a>
                                            <ul class="sub-menu">
                                                <li><a href="typography.html">Typography</a></li>
                                                <li><a href="alert-box-buttons.html">Alert box &#038; buttons</a></li>
                                                <li><a href="icon-sections.html">Icon Sections</a></li>
                                                <li><a href="nivo-slider.html">Nivo Slider</a></li>
                                                <li><a href="media-widgets.html">Media &amp; Widgets</a></li>
                                                <li><a href="table-box-prices.html">Table &#038; Box prices</a></li>
                                                <li><a href="mix-various.html">Mix &#038; Various</a></li>
                                                <li><a href="shop-shortcodes.html">Shop shortcodes</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END NAV -->
                                
                                <!-- START SEARCH FORM -->  
                                <form role="search" method="get" id="searchform" action="#" class="group">
                                <div><label class="screen-reader-text" for="s">search</label>
                                    <input type="text" value="" name="s" id="s" />
                                    <input type="submit" id="searchsubmit" value="&gt;" />    
                                    <input type="hidden" name="post_type" value="product" />
                                </div>
                                </form>
                                <!-- END SEARCH FORM -->
                            
                            </div>
                            <!-- end .inner -->  
                             
                        </div>
                        <!-- END HEADER --> 


<!-- START PRIMARY SECTION -->
<div id="primary" class="inner group" />
<div class="layout-sidebar-right group">
   <!-- START CONTENT -->
   <div id="content" role="main" class="group">
      <div class="clear"></div>
      <div class="posts group">
         <div class="posts_space"></div>
         <div id="post-105" class="post-105 post type-post status-publish format-standard hentry category-glasses category-uncategorized category-vintage hentry-post group blog-big">
            <div class="post_header group">
               <img width="640" height="295" src="images/blog/blog3-640x295.jpg" class="attachment-blog_big wp-post-image" alt="blog3" title="blog3" />                                    
               <div class="post_title">
                  <h2>-50% on all vintage glasses, enjoy it</h2>
               </div>
            </div>
            <div class="post_content group">
               <div class="post_meta">
                  <div class="post_date">
                     <span class="day">04</span>
                     <span class="month">Sep</span>
                     <span class="year">2011</span>
                  </div>
                  <div class="post_comments"><a href="#" title="Comment on -50% on all vintage glasses, enjoy it">No comments</a></div>
                  <div class="post_twitter"><a href="#">Tweet this</a></div>
                  <div class="post_author">by <a href="#" title="Posts by nando" rel="author">nando</a></div>
               </div>
               <p>Phasellus gravida augue sit amet leo dapibus a congue velit semper. Aliquam erat volutpat. Vivamus sed nisl erat. Aliquam aliquet mi a massa facilisis sit amet pharetra turpis porta. Fusce vulputate porttitor erat quis consequat. <strong>Cras auctor sagittis</strong> risus. Maecenas vel orci risus, et rutrum erat. Donec varius neque tristique felis aliquam sodales. Donec viverra, turpis quis blandit eleifend, neque nisi bibendum ligula, ut ultrices nisi orci ac lorem.</p>
               <p><span id="more-105"></span><br />
                  Fusce hendrerit euismod nisi ut vulputate. Integer ac magna vel mauris ullamcorper semper. Morbi et ante quis mi aliquam facilisis. 
               </p>
               <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam ornare, libero vitae blandit volutpat, turpis tellus convallis lacus, tristique pharetra metus mi nec nisi. Pellentesque fermentum porta dolor eget consectetur. Aenean dictum felis at sem <strong>vehicula dapibus</strong>. Etiam semper magna sit amet augue blandit vel cursus erat egestas. Aenean venenatis tincidunt diam non fermentum. Phasellus volutpat massa vitae justo varius porta. Morbi congue ullamcorper risus, eget euismod ligula feugiat non. Sed ac egestas ipsum. Nunc in ante est, vitae congue dui. Aliquam nulla nunc, consequat interdum egestas et, placerat ut elit. Donec molestie semper lorem id hendrerit. Nunc luctus tristique urna at mattis.</p>
            </div>
            <div class="post_ group">
            </div>
         </div>
      </div>
      <!-- START COMMENTS -->
    	<div id="comments">
    		<h3 id="comments-title">3 <span>comments</span></h3>
    
    		<!-- LIST COMMENTS -->
    		<ol class="commentlist">
    			
    			<li class="comment bypostauthor depth-1">
    				<div class="comment-container">
    					
    					<div class="comment-author vcard">
    		        		<img alt='' src='http://1.gravatar.com/avatar/700fb11aa40d1ced27d8fdbdc4369fbd?s=75&amp;d=http%3A%2F%2Fwww.yourinspirationweb.com%2Ftf%2Fbolder%2Fwp-content%2Fthemes%2Fbolder%2Fimages%2Fnoavatar.png%3Fs%3D75&amp;r=G' class='avatar avatar-75 photo' height='75' width='75' />    			
    						<div class="shadow-avatar-comment"></div>
                            <cite class="fn">antoscarface</cite>     		
    					</div><!-- .comment-author .vcard -->
    		
    					<div class="comment-meta commentmetadata">
    		        		<div class="intro">
    		            		<div class="commentDate">
    		            		  	<a href="#">January 16, 2011 at 10:13 pm</a> 
    								<a class="comment-edit-link" href="#" title="Edit comment">(Edit)</a>        			
    							</div>
    		
    		        			<div class="commentNumber">#&nbsp;1</div>
    		        		</div>
    		        			
    		    			<div class="comment-body">
    							<p>I don&#8217;t believe it&#8230;</p>
    							<p>This theme is WONDERFULL!!</p>
    						</div>
    		    			
    		    			<div class="reply">
    		        			<a rel='nofollow' class='comment-reply-link' href='#' onclick='return false'>Reply</a>        		
    						</div><!-- .reply -->
    		    		</div><!-- .comment-meta .commentmetadata -->
    				</div><!-- #comment-##  -->
    
    				<ul class='children'>
    					<li class="comment bypostauthor depth-2">
    						<div class="comment-container">
    				    		<div class="comment-author vcard">
    				    		    <img alt='' src='http://1.gravatar.com/avatar/700fb11aa40d1ced27d8fdbdc4369fbd?s=75&amp;d=http%3A%2F%2Fwww.yourinspirationweb.com%2Ftf%2Fbolder%2Fwp-content%2Fthemes%2Fbolder%2Fimages%2Fnoavatar.png%3Fs%3D75&amp;r=G' class='avatar avatar-75 photo' height='75' width='75' />    			
    								<div class="shadow-avatar-comment"></div>
                                    <cite class="fn">antoscarface</cite>     		
    							</div><!-- .comment-author .vcard -->
    				    			
    							<div class="comment-meta commentmetadata">
    				        		<div class="intro">
    				            		<div class="commentDate">
    				            		  <a href="#">January 16, 2011 at 10:24 pm</a> 
    									  <a class="comment-edit-link" href="#" title="Edit comment">(Edit)</a>        			
    									</div>
    				
    				        			<div class="commentNumber">#&nbsp;2</div>
    				        		</div>
    			        			
    			    				<div class="comment-body">
    									<p>I&#8217;m replying you, beacause I quote you and I want to repeat what you said:</p>
    									<p>THIS THEME IS SPETTACULAR!!</p>
    								</div>
    			    			
    			    			
    				    			<div class="reply">
    				        			<a rel='nofollow' class='comment-reply-link' href='#' onclick='return false'>Reply</a>        		
    								</div><!-- .reply -->
    				    		</div><!-- .comment-meta .commentmetadata -->
    				
    				    	</div><!-- #comment-##  -->
    				
    					</li>
    				</ul>
    			</li>
    
    			<li class="comment depth-1">
    				<div class="comment-container">
    		    		<div class="comment-author vcard">
    		    		    <img alt='' src='http://1.gravatar.com/avatar/7c0dff8dd43a05c601331149ae47e13a?s=75&amp;d=http%3A%2F%2Fwww.yourinspirationweb.com%2Ftf%2Fbolder%2Fwp-content%2Fthemes%2Fbolder%2Fimages%2Fnoavatar.png%3Fs%3D75&amp;r=G' class='avatar avatar-75 photo' height='75' width='75' />    			
    						<div class="shadow-avatar-comment"></div>
                            <cite class="fn">karima</cite>     		
    					</div><!-- .comment-author .vcard -->
    		    		
    		    		<div class="comment-meta commentmetadata">
    		        		<div class="intro">
    		            		<div class="commentDate">
    		            		  <a href="#">January 24, 2011 at 1:06 am</a> 
    							  <a class="comment-edit-link" href="#" title="Edit comment">(Edit)</a>        			
    							</div>
    		
    		        			<div class="commentNumber">#&nbsp;3</div>
    						</div>
    		        			
    		    			<div class="comment-body">
    							<p>Really nice theme!  I love pink skin.</p>
    						</div>
    		    			
    		    			<div class="reply">
    		        			<a rel='nofollow' class='comment-reply-link' href='#' onclick='return false'>Reply</a>        		
    						</div><!-- .reply -->
    		    		</div><!-- .comment-meta .commentmetadata -->
    		    	</div><!-- #comment-##  -->
    			</li>
    			
    		</ol>
    		<!-- END LIST COMMENTS -->
    
    		<!-- RESPOND -->
    		<div id="respond">
    			<h3 id="reply-title">Leave a Reply</h3>
    			
    			<form id="commentform" method="post" action="#">							
    			
    				<p class="comment-form-author">
    					<label for="author">Name</label> 
    					<input type="text" aria-required="true" size="30" value="" name="author" id="author">
    				</p>
    				
    				<p class="comment-form-email">
    					<label for="email">Email</label> 
    					<input type="text" aria-required="true" size="30" value="" name="email" id="email">
    				</p>
    				
    				<p class="comment-form-url">
    					<label for="url">Website</label>
    					<input type="text" size="30" value="" name="url" id="url">
    				</p>			           
    				
    				<p class="comment-form-comment">
    					<label for="comment"><img class="comment-avatar" alt="avatar" src="images/noavatar.png"></label>
    					<textarea aria-required="true" rows="8" cols="45" name="comment" id="comment"></textarea>
    				</p>					
    			
    				<p class="form-submit">
    					<input type="submit" value="Post Comment" id="submit" name="submit">
    				</p>
    				
    				<div class="clear"></div>
    			
    			</form>
    		</div><!-- #respond -->
    	</div>
        <!-- END COMMENTS -->
   </div>
   <!-- END CONTENT -->
   <!-- START SIDEBAR -->
   <div id="sidebar" class="group">
      <div id="search-3" class="widget-1 widget-first widget widget_search">
         <h3>Search</h3>
         <form role="search" method="get" id="searchform" action="home.html" class="group">
            <div><label class="screen-reader-text" for="s">Search</label>
               <input type="text" value="" name="s" id="s" />
               <input type="submit" id="searchsubmit" value="Search" />    
               <input type="hidden" name="post_type" value="post" />
            </div>
         </form>
      </div>
      <div id="popular-posts-3" class="widget-2 widget popular-posts">
         <h3>Popular Posts</h3>
         <div class="recent-post group">
            <div class="hentry-post group">
               <div class="thumb-img"><a href="article.html"><img width="55" height="55" src="images/blog/blog2-55x55.jpg" class="attachment-thumb_recentposts wp-post-image" alt="blog2" title="blog2" /></a></div>
               <a href="article.html" title="Looking for a nice theme for your shop?" class="title">Looking for a nice theme for your shop?</a>
               <p class="post-date">July 26, 2011</p>
            </div>
            <div class="hentry-post group">
               <div class="thumb-img"><a href="article.html"><img width="55" height="55" src="images/blog/blog3-55x55.jpg" class="attachment-thumb_recentposts wp-post-image" alt="blog3" title="blog3" /></a></div>
               <a href="article.html" title="-50% on all vintage glasses, enjoy it" class="title">-50% on all vintage glasses, enjoy it</a>
               <p class="post-date">September 4, 2011</p>
            </div>
            <div class="hentry-post group">
               <div class="thumb-img"><a href="article.html"><img width="55" height="55" src="images/blog/blog1-55x55.jpg" class="attachment-thumb_recentposts wp-post-image" alt="blog1" title="blog1" /></a></div>
               <a href="#" title="Sommerce &ndash; a beautiful ecommerce solution" class="title">Sommerce &#8211; a beautiful ecommerce solution</a>
               <p class="post-date">August 12, 2011</p>
            </div>
         </div>
      </div>
      <div id="almost-all-categories-3" class="widget-3 widget almost-all-categories">
         <h3>Categories</h3>
         <ul id="almost_all_categories_widget">
            <li>No categories</li>
         </ul>
      </div>
      <div id="archives-3" class="widget-4 widget-last widget widget_archive">
         <h3>Archives</h3>
         <ul>
            <li><a href="#" title="September 2011">September 2011</a>&nbsp;(1)</li>
            <li><a href="#" title="August 2011">August 2011</a>&nbsp;(1)</li>
            <li><a href="#" title="July 2011">July 2011</a>&nbsp;(1)</li>
         </ul>
      </div>
   </div>
   <!-- END SIDEBAR -->    
</div>
<!-- START EXTRA CONTENT -->
<!-- END EXTRA CONTENT -->


<!-- START NEWSLETTER FORM -->
                    <div id="newsletter-form" class="group">
                        <div class="inner">
                            <div class="newsletter-section group">
                                <p class="description special-font"><strong>Stay Updated:</strong> subscribe our special newsletter</p>
                                <form method="post" action="#">
                                    <fieldset>
                                        <ul class="group">
                                            <li><label for="fullname">Your name</label><input type="text" name="fullname" id="fullname" class="name-field text-field autoclear" /></li>
                                            <li><label for="email">Your email</label><input type="text" name="email" id="email" class="email-field text-field autoclear" /></li>
                                            <li><input type="submit" value="Subscribe" class="submit-field" /></li>
                                        </ul>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- ENDSTART NEWSLETTER FORM -->
                    <!-- START FOOTER -->
                    <div id="footer" class="group footer-sidebar-right columns-3">
                        <div class="inner">
                            <div class="footer-main">
                                <div id="nav_menu-3" class="widget-1 widget-first widget widget_nav_menu">
                                    <h3>Categories</h3>
                                    <div class="menu-categories-footer-container">
                                        <ul id="menu-categories-footer" class="menu">
                                            <li><a href="#">Kitchen</a></li>
                                            <li><a href="#">Bedroom</a></li>
                                            <li><a href="#">Garden</a></li>
                                            <li><a href="#">Bathroom</a></li>
                                            <li><a href="#">Wood</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="nav_menu-4" class="widget-2 widget widget_nav_menu">
                                    <h3>Utilities</h3>
                                    <div class="menu-utilities-container">
                                        <ul id="menu-utilities" class="menu">
                                            <li><a href="testimonials.html">Testimonial</a></li>
                                            <li><a href="faq.html">FAQ</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="contact.html">Get in Touch</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="nav_menu-5" class="widget-3 widget-last widget widget_nav_menu">
                                    <h3>Get in touch</h3>
                                    <div class="menu-get-in-touch-container">
                                        <ul id="menu-get-in-touch" class="menu">
                                            <li><a href="#">Newsletter</a></li>
                                            <li><a href="http://www.facebook.com">Facebook</a></li>
                                            <li><a href="http://twitter.com">Twitter</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-sidebar">
                                <div id="recent-posts-3" class="widget-1 widget-first widget recent-posts">
                                    <h3>Last News</h3>
                                    <div class="recent-post group">
                                        <div class="hentry-post group">
                                            <a href="article.html" title="-50% on all vintage glasses, enjoy it" class="title">-50% on all vintage glasses, enjoy it</a>
                                            <p>Phasellus gravida augue sit amet leo dapibus a congue velit [...]</p>
                                        </div>
                                        <div class="hentry-post group">
                                            <a href="article.html" title="Sommerce &ndash; a beautiful ecommerce solution" class="title">Sommerce &#8211; a beautiful ecommerce solution</a>
                                            <p>Etiam semper magna sit amet augue blandit vel cursus erat [...]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END FOOTER -->
                    <!-- START COPYRIGHT -->
                    <div id="copyright" class="group two-columns">
                        <div class="inner group">
                            <p class="left">
                                <img src="images/logo1.png" alt="" /> 
                                <span style="padding-left:10px;">
                                    <img src="images/credit-cards/paypal.png" alt="paypal" style="margin-right:8px" />
                                    <img src="images/credit-cards/visa.png" alt="visa" style="margin-right:8px" />
                                    <img src="images/credit-cards/mastercard.png" alt="mastercard" style="margin-right:8px" />
                                    <img src="images/credit-cards/cirrus.png" alt="cirrus" style="margin-right:8px" />
                                    <img src="images/credit-cards/amex.png" alt="amex" style="margin-right:8px" />
                                    <img src="images/credit-cards/bank-check.png" alt="bank-check" style="margin-right:8px" />
                                    <img src="images/credit-cards/discover.png" alt="discover" style="margin-right:8px" />
                                </span>        			            
                            </p>
                            <p class="right">
                                Collect from <a href="http://www.mycodes.net/" title="源码之家" target="_blank">源码之家</a>  
                            </p>
                        </div>
                    </div>
                    <!-- END COPYRIGHT -->          
                </div>
                <!-- END BG WRAPPER --> 	      
            </div>
            <!-- END WRAPPER --> 	 	      
        </div>
        <!-- END LIGHT WRAPPER --> 
        <script type="text/javascript" src="js/jquery.custom.js"></script>
        <script type="text/javascript" src="js/contact.js"></script>
        

</body>
</html>
