    </head>
    <body class="responsive boxed-layout no_js">
        <!-- START LIGHT WRAPPER -->
        <div class="bgLight group">
            <!-- START WRAPPER -->
            <div class="wrapper group">
                <!-- START BG WRAPPER -->
                <div class="bgWrapper group">
                    <!-- START HEADER -->
                    <div id="header" class="group">
                        <!-- .inner -->
                        <div class="inner group">
                            <!-- START LOGO -->
                            <div id="logo" class="group">
                                <a href="index.html" title="Sommerce Shop"> 
                                <span class="logo-title">Sommerce Shop</span>
                                </a>         
                                <p class="logo-description">The perfect e-commerce solution</p>
                            </div>
                            <!-- END LOGO -->        
                            <!-- START LINKSBAR -->
                            <ul id="linksbar" class="group">
                                <li class="icon cart">
                                    <a class="trigger" href="cart.html">
                                    <span> 0 items &ndash; &euro;0.00 </span>
                                    </a> | 
                                    <div class="basketpopup">
                                        <h3>My Cart</h3>
                                        <span class="empty">No products in the cart.</span>
                                    </div>
                                </li>
                                <li class="icon lock">
                                    <a href="#">Logout</a> |
                                </li>
                                <li><a href="contact.html">Contact us</a> | </li>
                            </ul>
                            <!-- END LINKSBAR -->  
                            <div class="clear"></div>
                            
                                            