<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 9]>
<html id="ie9" dir="ltr" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html dir="ltr" lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sommerce Shop | The perfect e-commerce solution</title>
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 980px)" href="css/lessthen980.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 600px)" href="css/lessthen600.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" href="css/lessthen480.css" />
    <link rel="stylesheet" href="css/shop.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/tipsy.css" type="text/css" media="all" />
    <link rel='stylesheet' href='css/jquery-rotating.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/slider-cycle.css' type='text/css' media='all' />
    
    <!-- [favicon] begin -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- [favicon] end -->  
    
    <!-- FONT -->

    
    <!-- SCRIPTS -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="js/jquery.tweetable.js"></script>
    <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="js/jquery.cycle.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/comment-reply.js"></script>
    
    <style type="text/css">
        #nav.elegant .megamenu > ul.sub-menu > li > a { color:#c1c1c1; }
        span.onsale { background-color:#616263; }
        #footer a:hover { color:#1b1b1b !important; }
        #footer .widget ul li a:hover { color:#4d4d4d !important; }
        #footer .footer-sidebar, #copyright .inner { border-color:#D1D2D2; }
        #slider ul li .slider-caption h2 a, #slider ul li .slider-caption h2 a:hover {color:#fff;}        #content { width:640px; }
        #sidebar { width:280px; }        
        #sidebar.shop { width:170px; }
        .products li { width:164px !important; }
        .products li a strong { width:120px !important; }
        .products li a strong.inside-thumb { bottom:0px !important; }
        .products li.shadow a strong.inside-thumb { bottom:21px !important; }
        .products li.border a strong.inside-thumb { bottom:7px !important; }
        .products li.border.shadow a strong.inside-thumb { bottom:28px !important; }
        .products li a img { width:150px !important;height:150px !important; }
        div.product div.images { width:56.6666666667%; }
        div.product div.images img { width:530px; }
        .layout-sidebar-no div.product div.summary { width:41.25%; }
        .layout-sidebar-right div.product div.summary, .layout-sidebar-left div.product div.summary { width:24.8%; }
        body, .stretched-layout .bgWrapper {
        background:#ffffff url('') no-repeat center center; background-image: ;
        }
        #header {
            background:#000000 url('images/headers/002.jpg') no-repeat top center;}
        .wrapper-content { width:640px; }
        #logo .logo-title, .logo { font-family: 'Lobster' !important; }
        h1, h2, h3, h4, h5, h6, .special-font { font-family: 'Yanone Kaffeesatz' !important; }
        #slogan h1 { font-family: 'Yanone Kaffeesatz' !important; }
        p, li { font-family: 'Trebuchet MS', Helvetica, sans-serif !important; }
    </style>
    </head>
    <body class="responsive stretched-layout no_js">
        <!-- START LIGHT WRAPPER -->
        <div class="bgLight group">
            <!-- START WRAPPER -->
            <div class="wrapper group">
                <!-- START BG WRAPPER -->
                <div class="bgWrapper group">
                    <!-- START HEADER -->
                    <div id="header" class="group">
                        <!-- .inner -->
                        <div class="inner group">
                            <!-- START LOGO -->
                            <div id="logo" class="group">
                                <a href="home.html" title="Sommerce Shop"> 
                                <span class="logo-title">Sommerce Shop</span>
                                </a>         
                                <p class="logo-description">The perfect e-commerce solution</p>
                            </div>
                            <!-- END LOGO -->        
                            <!-- START LINKSBAR -->
                            <ul id="linksbar" class="group">
                                <li class="icon cart">
                                    <a class="trigger" href="cart.html">
                                    <span> 0 items &ndash; &euro;0.00 </span>
                                    </a> | 
                                    <div class="basketpopup">
                                        <h3>My Cart</h3>
                                        <span class="empty">No products in the cart.</span>
                                    </div>
                                </li>
                                <li class="icon lock">
                                    <a href="#">Logout</a> |
                                </li>
                                <li><a href="contact.html">Contact us</a> | </li>
                            </ul>
                            <!-- END LINKSBAR -->  
                            <div class="clear"></div>
                                <!-- START NAV -->
                                <div id="nav" class="group elegant">
                                    <ul id="menu-navigation" class="level-1">
                                        <li>
                                            <a href="index.html">Home</a>
                                            <ul class="sub-menu">
                                                <li><a href="home-version-2-elegant.html">Home version 2 (elegant)</a></li>
                                               
                                            </ul>
                                        </li>
                                        <li class="megamenu">
                                            <a href="#">Shopping By</a>
                                            <ul class="sub-menu">
                                               
                                                <li>
                                                    <a href="categories.html">Categories</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="#">Kitchen</a></li>
                                                        <li><a href="#">Bedroom</a></li>
                                                        <li><a href="#">Garden</a></li>
                                                        <li><a href="#">Bathroom</a></li>
                                                        <li><a href="#">Wood</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Prices</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="#">100 &#8211; 200 &euro;</a></li>
                                                        <li><a href="#">200 &#8211; 500 &euro;</a></li>
                                                        <li><a href="#">500 &#8211; 800 &euro;</a></li>
                                                        <li><a href="#">800 &#8211; 1000 &euro;</a></li>
                                                        <li><a href="#">1000 &#8211; 1200 &euro;</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="my-account.html">My Account</a>
                                            <ul class="sub-menu">
                                                <li><a href="change-password.html">Change Password</a></li>
                                                <li><a href="edit-address.html">Edit My Address</a></li>
                                                <li><a href="order-tracking.html">Track your order</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="shop.html">Shop</a></li>
                                        <li>
                                            <a href="#">Pages</a>
                                            <ul class="sub-menu">
                                    
                                                <li><a href="faq.html">Faq</a></li>
                                                <li><a href="contact.html">Get in Touch</a></li>
                                                
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="typography.html">Shortcode</a>
                                            <ul class="sub-menu">
                                              
                                                <li><a href="shop-shortcodes.html">Shop shortcodes</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END NAV -->
                                
                                <!-- START SEARCH FORM -->  
                                <form role="search" method="get" id="searchform" action="#" class="group">
                                <div><label class="screen-reader-text" for="s">search</label>
                                    <input type="text" value="" name="s" id="s" />
                                    <input type="submit" id="searchsubmit" value="&gt;" />    
                                    <input type="hidden" name="post_type" value="product" />
                                </div>
                                </form>
                                <!-- END SEARCH FORM -->
                                        
                                        </div>
                                        <!-- end .inner -->  
                                         
                                    </div>
                                    <!-- END HEADER -->
                                   

<!-- START SLIDER -->
<div id="slider" class="group inner">
   <ul class="group">
      <li class="first slide-1 group image-content-type">
         <div class="slider-featured group"><a href="http://www.google.it"><img src="images/common/00111.jpg" width="960" height="338" alt="interior design" /></a></div>
         <div class="slider-caption caption-right">
            <!-- TITLE -->
            <h2><a href="http://www.google.it">interior design</a></h2>
            <!-- TEXT -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar turpis velit. Morbi rutrum, neque non pulvinar faucibus, ligula eros viverra ligula, et aliquam libero neque ac nisl. </p>
            <p><span class="special-font" style="font-size:24px;">prices from <span style="font-size:42px;">$45</span></span></p>
         </div>
      </li>
      <li class="slide-2 group image-content-type">
         <div class="slider-featured group"><img src="images/common/0035.jpg" width="960" height="338" alt="Luxury gold" /></div>
         <div class="slider-caption caption-right">
            <!-- TITLE -->
            <h2>Luxury gold</h2>
            <!-- TEXT -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar turpis velit. Morbi rutrum, neque non pulvinar faucibus, ligula eros viverra ligula, et aliquam libero neque ac nisl. </p>
         </div>
      </li>
      <li class="last slide-3 group image-content-type">
         <div class="slider-featured group"><img src="images/common/0031.jpg" width="960" height="338" alt="Gold Parquet" /></div>
         <div class="slider-caption caption-right">
            <!-- TITLE -->
            <h2>Gold Parquet</h2>
            <!-- TEXT -->
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum</p>
            <p><span class="special-font" style="font-size:24px;">prices from <span style="font-size:42px;">$37</span></span></p>
         </div>
      </li>
   </ul>
</div>
<script type="text/javascript">      
	var 	yiw_slider_type = 'elegant',
            yiw_slider_elegant_easing = null,
			yiw_slider_elegant_fx = 'fade',
			yiw_slider_elegant_speed = 500,
			yiw_slider_elegant_timeout = 5000,
			yiw_slider_elegant_caption_speed = 500;  
</script>
<!-- END SLIDER -->                       
<div class="slider-mobile">
   <!-- START SLIDER -->
   <div id="slider" class="group mobile inner fixed-image">
      <img src="images/slider/001.jpg" width="960" height="338" alt="" />  
   </div>
   <!-- END SLIDER -->     
</div>
<!-- START PRIMARY SECTION -->
<div id="primary" class="inner group">
   <div class="layout-sidebar-no">
      <!-- START CONTENT -->
      <div id="content" role="main" class="group wrapper-content">
         <div id="post-206" class="post-206 page type-page status-publish hentry group">
            <div class="one-fourth">
               <h2>Interior design</h2>
               <p><a href="images/common/00112.jpg"><img class="alignleft size-full wp-image-278" title="001" src="images/common/00112.jpg" alt="" width="220" height="81" /></a></p>
               <p>Nunc felis urna, mattis non blandit vitae, porttitor ac enim. Nunc scelerisque sagittis sollicitudin nam gravida.</p>
            </div>
            <div class="one-fourth">
               <h2>Nice accessories</h2>
               <p><a href="images/common/0024.jpg"><img class="alignleft size-full wp-image-281" title="002" src="images/common/0024.jpg" alt="" width="220" height="81" /></a></p>
               <p>Nunc felis urna, mattis non blandit vitae, porttitor ac enim. Nunc scelerisque sagittis sollicitudin nam gravida.</p>
            </div>
            <div class="one-fourth">
               <h2>Love this theme?</h2>
               <p><a href="images/common/0036.jpg"><img class="alignleft size-full wp-image-283" title="003" src="images/common/0036.jpg" alt="" width="220" height="81" /></a></p>
               <p>Nunc felis urna, mattis non blandit vitae, porttitor ac enim. Nunc scelerisque sagittis sollicitudin nam gravida.</p>
            </div>
            <div class="one-fourth last">
               <h2>Buy it on ThemeForest</h2>
               <p><img class="alignleft size-full wp-image-286" title="04" src="images/common/04.jpg" alt="" width="220" height="81" /></p>
               <p>Nunc felis urna, mattis non blandit vitae, porttitor ac enim. Nunc scelerisque sagittis sollicitudin nam gravida.</p>
            </div>
            <div class="clear space"></div>
            <div class="boxed-content group">
               <div class="box-title group">
                  <h3>From the shop</h3>
                  <p>if you enjoy it, visite our market</p>
               </div>
               <div class="box-content group">
                  <ul class="products">
                     <li class="product border shadow hide-price hide-details-button hide-add-to-cart-button first last-row">
                        <a href="product_single.html">
                           <div class="thumbnail">
                              <img width="150" height="150" src="images/common/001.png" class="attachment-shop_small wp-post-image" alt="001" title="001" />    			
                              <div class="thumb-shadow"></div>
                              <strong class="inside-thumb">Elegant Glasses</strong>
                           </div>
                           <span class="price">&#36;250.00</span>		
                        </a>
                        <div class="buttons">
                           <a href="product_single.html" class="details">DETAILS</a>&nbsp;<a href="#" class="add-to-cart">ADD TO CART</a>
                        </div>
                     </li>
                     <li class="product border shadow hide-price hide-details-button hide-add-to-cart-button last-row">
                        <a href="product_single.html">
                           <div class="thumbnail">
                              <img width="150" height="150" src="images/common/interior-150x150.jpg" class="attachment-shop_small wp-post-image" alt="interior" title="interior" />    			
                              <div class="thumb-shadow"></div>
                              <strong class="inside-thumb">Interior Black</strong>
                           </div>
                           <span class="price">&#36;60,000.00</span>		
                        </a>
                        <div class="buttons">
                           <a href="product_single.html" class="details">DETAILS</a>&nbsp;<a href="#" class="add-to-cart">ADD TO CART</a>
                        </div>
                     </li>
                     <li class="product border shadow hide-price hide-details-button hide-add-to-cart-button last-row">
                        <a href="product_single.html">
                           <div class="thumbnail">
                              <img width="150" height="150" src="images/common/001b-150x150.jpg" class="attachment-shop_small wp-post-image" alt="001b" title="001b" />    			
                              <div class="thumb-shadow"></div>
                              <strong class="inside-thumb">PINK BATHROOM</strong>
                           </div>
                           <span class="price">&#36;450.00</span>		
                        </a>
                        <div class="buttons">
                           <a href="product_single.html" class="details">DETAILS</a>&nbsp;<a href="#" class="add-to-cart">ADD TO CART</a>
                        </div>
                     </li>
                     <li class="product border shadow hide-price hide-details-button hide-add-to-cart-button last last-row">
                        <a href="product_single.html">
                           <div class="thumbnail">
                              <img width="150" height="150" src="images/common/wood-150x150.jpg" class="attachment-shop_small wp-post-image" alt="wood" title="wood" />    			
                              <div class="thumb-shadow"></div>
                              <strong class="inside-thumb">Wood design</strong>
                           </div>
                           <span class="price"><del>&#36;340.00</del> <ins>&#36;340.00</ins></span>		
                        </a>
                        <div class="buttons">
                           <a href="product_single.html" class="details">DETAILS</a>&nbsp;<a href="#" class="add-to-cart">ADD TO CART</a>
                        </div>
                     </li>
                  </ul>
                  <div class="clear"></div>
               </div>
            </div>
            <div class="border-line"></div>
         </div>
      </div>
      <!-- END CONTENT -->
      <!-- START SIDEBAR -->
      <!-- END SIDEBAR -->   
   </div>
   <!-- START EXTRA CONTENT -->
   <!-- END EXTRA CONTENT -->    
</div>
<!-- END PRIMARY SECTION -->
<!-- START NEWSLETTER FORM -->
                    <div id="newsletter-form" class="group">
                        <div class="inner">
                            <div class="newsletter-section group">
                                <p class="description special-font"><strong>Stay Updated:</strong> subscribe our special newsletter</p>
                                <form method="post" action="#">
                                    <fieldset>
                                        <ul class="group">
                                            <li><label for="fullname">Your name</label><input type="text" name="fullname" id="fullname" class="name-field text-field autoclear" /></li>
                                            <li><label for="email">Your email</label><input type="text" name="email" id="email" class="email-field text-field autoclear" /></li>
                                            <li><input type="submit" value="Subscribe" class="submit-field" /></li>
                                        </ul>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- ENDSTART NEWSLETTER FORM -->
                    <!-- START FOOTER -->
                    <div id="footer" class="group footer-sidebar-right columns-3">
                        <div class="inner">
                            <div class="footer-main">
                                <div id="nav_menu-3" class="widget-1 widget-first widget widget_nav_menu">
                                    <h3>Categories</h3>
                                    <div class="menu-categories-footer-container">
                                        <ul id="menu-categories-footer" class="menu">
                                            <li><a href="#">Kitchen</a></li>
                                            <li><a href="#">Bedroom</a></li>
                                            <li><a href="#">Garden</a></li>
                                            <li><a href="#">Bathroom</a></li>
                                            <li><a href="#">Wood</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="nav_menu-4" class="widget-2 widget widget_nav_menu">
                                    <h3>Utilities</h3>
                                    <div class="menu-utilities-container">
                                        <ul id="menu-utilities" class="menu">
                                            <li><a href="testimonials.html">Testimonial</a></li>
                                            <li><a href="faq.html">FAQ</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="contact.html">Get in Touch</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="nav_menu-5" class="widget-3 widget-last widget widget_nav_menu">
                                    <h3>Get in touch</h3>
                                    <div class="menu-get-in-touch-container">
                                        <ul id="menu-get-in-touch" class="menu">
                                            <li><a href="#">Newsletter</a></li>
                                            <li><a href="http://www.facebook.com">Facebook</a></li>
                                            <li><a href="http://twitter.com">Twitter</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-sidebar">
                                <div id="recent-posts-3" class="widget-1 widget-first widget recent-posts">
                                    <h3>Last News</h3>
                                    <div class="recent-post group">
                                        <div class="hentry-post group">
                                            <a href="article.html" title="-50% on all vintage glasses, enjoy it" class="title">-50% on all vintage glasses, enjoy it</a>
                                            <p>Phasellus gravida augue sit amet leo dapibus a congue velit [...]</p>
                                        </div>
                                        <div class="hentry-post group">
                                            <a href="article.html" title="Sommerce &ndash; a beautiful ecommerce solution" class="title">Sommerce &#8211; a beautiful ecommerce solution</a>
                                            <p>Etiam semper magna sit amet augue blandit vel cursus erat [...]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END FOOTER -->
                    <!-- START COPYRIGHT -->
                    <div id="copyright" class="group two-columns">
                        <div class="inner group">
                            <p class="left">
                                <img src="images/logo1.png" alt="" /> 
                                <span style="padding-left:10px;">
                                    <img src="images/credit-cards/paypal.png" alt="paypal" style="margin-right:8px" />
                                    <img src="images/credit-cards/visa.png" alt="visa" style="margin-right:8px" />
                                    <img src="images/credit-cards/mastercard.png" alt="mastercard" style="margin-right:8px" />
                                    <img src="images/credit-cards/cirrus.png" alt="cirrus" style="margin-right:8px" />
                                    <img src="images/credit-cards/amex.png" alt="amex" style="margin-right:8px" />
                                    <img src="images/credit-cards/bank-check.png" alt="bank-check" style="margin-right:8px" />
                                    <img src="images/credit-cards/discover.png" alt="discover" style="margin-right:8px" />
                                </span>        			            
                            </p>
                            <p class="right">
                                Collect from <a href="http://www.mycodes.net/" title="源码之家" target="_blank">源码之家</a>  
                            </p>
                        </div>
                    </div>
                    <!-- END COPYRIGHT -->          
                </div>
                <!-- END BG WRAPPER --> 	      
            </div>
            <!-- END WRAPPER --> 	 	      
        </div>
        <!-- END LIGHT WRAPPER --> 
        <script type="text/javascript" src="js/jquery.custom.js"></script>
        <script type="text/javascript" src="js/contact.js"></script>
        

</body>
</html>
