<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 9]>
<html id="ie9" dir="ltr" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html dir="ltr" lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sommerce Shop | The perfect e-commerce solution</title>
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 980px)" href="css/lessthen980.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 600px)" href="css/lessthen600.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" href="css/lessthen480.css" />
    <link rel="stylesheet" href="css/shop.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/tipsy.css" type="text/css" media="all" />
    <link rel='stylesheet' href='css/jquery-rotating.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/slider-cycle.css' type='text/css' media='all' />
    
    <!-- [favicon] begin -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- [favicon] end -->  
    
    <!-- FONT -->

    
    <!-- SCRIPTS -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="js/jquery.tweetable.js"></script>
    <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="js/jquery.cycle.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/comment-reply.js"></script>
    
    <link rel="stylesheet" type="text/css" media="all" href="css/home.css" />

    </head>
    <body class="responsive boxed-layout no_js">
        <!-- START LIGHT WRAPPER -->
        <div class="bgLight group">
            <!-- START WRAPPER -->
            <div class="wrapper group">
                <!-- START BG WRAPPER -->
                <div class="bgWrapper group">
                    <!-- START HEADER -->
                    <div id="header" class="group">
                        <!-- .inner -->
                        <div class="inner group">
                            <!-- START LOGO -->
                            <div id="logo" class="group">
                                <a href="index.html" title="Sommerce Shop"> 
                                <span class="logo-title">Sommerce Shop</span>
                                </a>         
                                <p class="logo-description">The perfect e-commerce solution</p>
                            </div>
                            <!-- END LOGO -->        
                            <!-- START LINKSBAR -->
                            <ul id="linksbar" class="group">
                                <li class="icon cart">
                                    <a class="trigger" href="cart.html">
                                    <span> 0 items &ndash; &euro;0.00 </span>
                                    </a> | 
                                    <div class="basketpopup">
                                        <h3>My Cart</h3>
                                        <span class="empty">No products in the cart.</span>
                                    </div>
                                </li>
                                <li class="icon lock">
                                    <a href="#">Logout</a> |
                                </li>
                                <li><a href="contact.html">Contact us</a> | </li>
                            </ul>
                            
                            <!-- END LINKSBAR -->  
                            <div class="clear"></div>
                            
                                <!-- START NAV -->
                                <div id="nav" class="group creative">
                                   <ul id="menu-navigation" class="level-1">
                                        <li>
                                            <a href="index.html">Home</a>
                                            <ul class="sub-menu">
                                                <li><a href="home-version-2-elegant.html">Home version 2 (elegant)</a></li>
                                                <li><a href="home-version-3-creative.html">Home version 3 (creative)</a></li>
                                                <li><a href="home-version-4.html">Home version 4</a></li>
                                                <li><a href="home-version-5-corporate.html">Home version 5 (corporate)</a></li>
                                                <li><a href="home-version-6.html">Home version 6</a></li>
                                                <li><a href="home-version-7.html">Home version 7</a></li>
                                                <li><a href="home-version-8.html">Home version 8</a></li>
                                            </ul>
                                        </li>
                                        <li class="megamenu">
                                            <a href="#">Shopping By</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="brand.html">Brand</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="#">Wallmart</a></li>
                                                        <li><a href="#">Ikea</a></li>
                                                        <li><a href="#">Pathio</a></li>
                                                        <li><a href="#">Furnishop</a></li>
                                                        <li><a href="#">Brand name</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="categories.html">Categories</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="#">Kitchen</a></li>
                                                        <li><a href="#">Bedroom</a></li>
                                                        <li><a href="#">Garden</a></li>
                                                        <li><a href="#">Bathroom</a></li>
                                                        <li><a href="#">Wood</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Prices</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="#">100 &#8211; 200 &euro;</a></li>
                                                        <li><a href="#">200 &#8211; 500 &euro;</a></li>
                                                        <li><a href="#">500 &#8211; 800 &euro;</a></li>
                                                        <li><a href="#">800 &#8211; 1000 &euro;</a></li>
                                                        <li><a href="#">1000 &#8211; 1200 &euro;</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="my-account.html">My Account</a>
                                            <ul class="sub-menu">
                                                <li><a href="change-password.html">Change Password</a></li>
                                                <li><a href="edit-address.html">Edit My Address</a></li>
                                                <li><a href="order-tracking.html">Track your order</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="shop.html">Shop</a></li>
                                        <li>
                                            <a href="blog.html">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">Big Image</a></li>
                                                <li><a href="blog-small.html">Small Image</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="testimonials.html">Testimonials</a></li>
                                                <li><a href="faq.html">Faq</a></li>
                                                <li><a href="contact.html">Get in Touch</a></li>
                                                
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="typography.html">Shortcode</a>
                                            <ul class="sub-menu">
                                                <li><a href="typography.html">Typography</a></li>
                                                <li><a href="alert-box-buttons.html">Alert box &#038; buttons</a></li>
                                                <li><a href="icon-sections.html">Icon Sections</a></li>
                                                <li><a href="nivo-slider.html">Nivo Slider</a></li>
                                                <li><a href="media-widgets.html">Media &amp; Widgets</a></li>
                                                <li><a href="table-box-prices.html">Table &#038; Box prices</a></li>
                                                <li><a href="mix-various.html">Mix &#038; Various</a></li>
                                                <li><a href="shop-shortcodes.html">Shop shortcodes</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END NAV -->
                                
                                <!-- START SEARCH FORM -->  
                                <form role="search" method="get" id="searchform" action="#" class="group">
                                <div><label class="screen-reader-text" for="s">search</label>
                                    <input type="text" value="" name="s" id="s" />
                                    <input type="submit" id="searchsubmit" value="&gt;" />    
                                    <input type="hidden" name="post_type" value="product" />
                                </div>
                                </form>
                                <!-- END SEARCH FORM -->
                            
                            </div>
                            <!-- end .inner -->  
                             
                        </div>
                        <!-- END HEADER --> 


<div class="slider-mobile">
   <!-- START SLIDER -->
   <div id="slider" class="group mobile inner fixed-image">
      <img src="images/slider/001.jpg" width="960" height="338" alt="" />  
   </div>
   <!-- END SLIDER -->     
</div>
<!-- START PRIMARY SECTION -->
<div id="primary" class="inner group">
   <div id="slogan" class="inner">
      <h1>Shortcodes</h1>
      <h3>the easy way to customize your theme</h3>
   </div>
   <div class="layout-sidebar-no group">
      <!-- START CONTENT -->
      <div id="content" role="main" class="group">
         <div id="crumbs" class="theme_breadcumb">
            <a class="home" href="home.html">Home Page</a>  &rsaquo;  <a class="no-link" href="typography.html">Shortcode</a>  &rsaquo;  <a class="no-link current" href="#">Mix &#038; Various</a>
            <div class="breadcrumb-end"></div>
         </div>
         <h2>Mix &#038; Various</h2>
         <div id="post-555" class="post-555 page type-page status-publish hentry group">
            <h3>Columns</h3>
            <h4>Four Columns</h4>
            <div class="one-fourth">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
            </div>
            <div class="one-fourth">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu. </p>
            </div>
            <div class="one-fourth">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu. </p>
            </div>
            <div class="one-fourth last">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu. </p>
            </div>
            <div class="clear"></div>
            <hr />
            <h4>Three Columns</h4>
            <div class="one-third">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu. </p>
            </div>
            <div class="one-third">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu. </p>
            </div>
            <div class="one-third last">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu. </p>
            </div>
            <div class="clear"></div>
            <hr />
            <h4>Two Columns</h4>
            <div class="one-third">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu. </p>
            </div>
            <div class="two-third last">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu. Donec consectetur adipiscing lorem ipsum dolor blandit enim libero, quis tincidunt arcu.</p>
            </div>
            <div class="clear"></div>
            <hr />
            <h4>Two Columns</h4>
            <div class="two-third">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu. </p>
            </div>
            <div class="one-third last">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
            </div>
            <div class="clear"></div>
            <hr />
            <h4>Two Columns</h4>
            <div class="two-fourth">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
            </div>
            <div class="two-fourth last">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
            </div>
            <div class="clear"></div>
            <hr />
            <h4>Two Columns</h4>
            <div class="two-fourth">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
            </div>
            <div class="two-fourth last">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
            </div>
            <div class="clear"></div>
            <hr />
            <h3>Bullet list</h3>
            <div class="one-third">
               <h4>Bullet star</h4>
               <ul class="short star">
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
               </ul>
               
            </div>
            <div class="one-third">
               <h4>Bullet Arrow</h4>
               <ul class="short arrow">
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
               </ul>
               
            </div>
            <div class="one-third last">
               <h4>Bullet check</h4>
               <ul class="short check">
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
               </ul>
               
            </div>
            <div class="clear"></div>
            <hr />
            <div class="one-third">
               <h4>Bullet add</h4>
               <ul class="short add">
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
               </ul>
               
            </div>
            <div class="one-third">
               <h4>Bullet Info</h4>
               <ul class="short info">
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
               </ul>
               
            </div>
            <div class="clear"></div>
            <hr />
            <h4>Call to action</h4>
            <div class="call-to-action">
               <div class="incipit">
                  <h2>Not found the <span>answer?</span></h2>
                  <p>feel free to contact our customer service for free support</p>
               </div>
               <div class="separate-phone"></div>
               <div class="number-phone">800.034.881</div>
               <div class="clear"></div>
               <div class="decoration-image"></div>
            </div>
            </p>
            <div class="clear"></div>
            <div class="call-to-action-two group">
               <div class="incipit">
                  <p class="special-font">
                     <span style="font-size:52px;"><strong>35% </strong></span> <span style="font-size:48px;">off everything </span>  Sign in to our list before march 21 to enjoy our special sales!<br />
                  </p>
               </div>
               <a href="#" class="call-button">
               SIGN IN NOW		
               </a>
            </div>
            </p>
            
            <h3>Toggles</h3>
            <div class="toggle">
               <p class="tab-index tab-opened"><a href="#" title="Close">Click to open: this is a toggle</a></p>
               <div class="content-tab opened">
                  <div class="arrow"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Donec blandit enim libero</strong>, quis tincidunt arcu.<br />
                     Eaque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta.
                  </p>
               </div>
            </div>
            <div class="toggle">
               <p class="tab-index tab-closed"><a href="#" title="Close">Click to open: this is a toggle</a></p>
               <div class="content-tab closed">
                  <div class="arrow"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Donec blandit enim libero</strong>, quis tincidunt arcu.<br />
                     Eaque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta.
                  </p>
               </div>
            </div>
            <div class="toggle">
               <p class="tab-index tab-closed"><a href="#" title="Close">Click to open: this is a toggle</a></p>
               <div class="content-tab closed">
                  <div class="arrow"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Donec blandit enim libero</strong>, quis tincidunt arcu.<br />
                     Eaque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta.
                  </p>
               </div>
            </div>
            <div class="toggle">
               <p class="tab-index tab-closed"><a href="#" title="Close">Click to open: this is a toggle</a></p>
               <div class="content-tab closed">
                  <div class="arrow"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Donec blandit enim libero</strong>, quis tincidunt arcu.<br />
                     Eaque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta.
                  </p>
               </div>
            </div>
            </p>
            <div class="clear"></div>
            <hr />
            <h3>Tabs</h3>
            <div class="tabs-container">
               <ul class="tabs">
                  <li><a href="#tab1" title="Services">Services</a></li>
                  <li><a href="#tab2" title="Customers">Customers</a></li>
                  <li><a href="#tab3" title="Marketing">Marketing</a></li>
               </ul>
               <div class="border-box group">
                  <div id="tab1" class="panel group">
                     <h4>Your Title of Tab 3</h4>
                     <p><img src="images/blog/post2-150x150.jpg" alt="tab1" class="alignleft" /></p>
                     <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing lorem<br />
                        ipsum dolor sit amet, consectetur adipiscing elit.<br />
                        <strong>Donec blandit enim libero</strong>, quis tincidunt arcu.<br />
                        Eaque ipsa quae ab illo veritatis et quasi architecto.
                     </p>
                     <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing lorem<br />
                        ipsum dolor sit amet, consectetur adipiscing elit.<br />
                        <strong>Donec blandit enim libero</strong>, quis tincidunt arcu.<br />
                        Eaque ipsa quae ab illo veritatis et quasi architecto.
                     </p>
                     <p>    
                  </div>
                  <div id="tab2" class="panel group">
                     <h4>Your Title of Tab 3</h4>
                     <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing lorem<br />
                        ipsum dolor sit amet, consectetur adipiscing elit.<br />
                        <strong>Donec blandit enim libero</strong>, quis tincidunt arcu.<br />
                        <br />
                        Eaque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta.
                     </p>
                     <p>    
                  </div>
                  <div id="tab3" class="panel group">
                     <h4>Your Title of Tab 3</h4>
                     <ul class="short arrow">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>consectetur adipiscing elit</li>
                        <li>Nulla scelerisque</li>
                     </ul>
                     <p>    
                  </div>
               </div>
            </div>
            
         </div>
         <div id="comments">
            <!--<p class="nocomments">&nbsp;</p>-->
         </div>
         <!-- #comments -->
      </div>
      <!-- END CONTENT -->
      <!-- START SIDEBAR -->
      <!-- END SIDEBAR -->    
   </div>
   <!-- START EXTRA CONTENT -->
   <!-- END EXTRA CONTENT -->    
</div>
<!-- END PRIMARY SECTION -->
<!-- START NEWSLETTER FORM -->
                    <div id="newsletter-form" class="group">
                        <div class="inner">
                            <div class="newsletter-section group">
                                <p class="description special-font"><strong>Stay Updated:</strong> subscribe our special newsletter</p>
                                <form method="post" action="#">
                                    <fieldset>
                                        <ul class="group">
                                            <li><label for="fullname">Your name</label><input type="text" name="fullname" id="fullname" class="name-field text-field autoclear" /></li>
                                            <li><label for="email">Your email</label><input type="text" name="email" id="email" class="email-field text-field autoclear" /></li>
                                            <li><input type="submit" value="Subscribe" class="submit-field" /></li>
                                        </ul>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- ENDSTART NEWSLETTER FORM -->
                    <!-- START FOOTER -->
                    <div id="footer" class="group footer-sidebar-right columns-3">
                        <div class="inner">
                            <div class="footer-main">
                                <div id="nav_menu-3" class="widget-1 widget-first widget widget_nav_menu">
                                    <h3>Categories</h3>
                                    <div class="menu-categories-footer-container">
                                        <ul id="menu-categories-footer" class="menu">
                                            <li><a href="#">Kitchen</a></li>
                                            <li><a href="#">Bedroom</a></li>
                                            <li><a href="#">Garden</a></li>
                                            <li><a href="#">Bathroom</a></li>
                                            <li><a href="#">Wood</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="nav_menu-4" class="widget-2 widget widget_nav_menu">
                                    <h3>Utilities</h3>
                                    <div class="menu-utilities-container">
                                        <ul id="menu-utilities" class="menu">
                                            <li><a href="testimonials.html">Testimonial</a></li>
                                            <li><a href="faq.html">FAQ</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="contact.html">Get in Touch</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="nav_menu-5" class="widget-3 widget-last widget widget_nav_menu">
                                    <h3>Get in touch</h3>
                                    <div class="menu-get-in-touch-container">
                                        <ul id="menu-get-in-touch" class="menu">
                                            <li><a href="#">Newsletter</a></li>
                                            <li><a href="http://www.facebook.com">Facebook</a></li>
                                            <li><a href="http://twitter.com">Twitter</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-sidebar">
                                <div id="recent-posts-3" class="widget-1 widget-first widget recent-posts">
                                    <h3>Last News</h3>
                                    <div class="recent-post group">
                                        <div class="hentry-post group">
                                            <a href="article.html" title="-50% on all vintage glasses, enjoy it" class="title">-50% on all vintage glasses, enjoy it</a>
                                            <p>Phasellus gravida augue sit amet leo dapibus a congue velit [...]</p>
                                        </div>
                                        <div class="hentry-post group">
                                            <a href="article.html" title="Sommerce &ndash; a beautiful ecommerce solution" class="title">Sommerce &#8211; a beautiful ecommerce solution</a>
                                            <p>Etiam semper magna sit amet augue blandit vel cursus erat [...]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END FOOTER -->
                    <!-- START COPYRIGHT -->
                    <div id="copyright" class="group two-columns">
                        <div class="inner group">
                            <p class="left">
                                <img src="images/logo1.png" alt="" /> 
                                <span style="padding-left:10px;">
                                    <img src="images/credit-cards/paypal.png" alt="paypal" style="margin-right:8px" />
                                    <img src="images/credit-cards/visa.png" alt="visa" style="margin-right:8px" />
                                    <img src="images/credit-cards/mastercard.png" alt="mastercard" style="margin-right:8px" />
                                    <img src="images/credit-cards/cirrus.png" alt="cirrus" style="margin-right:8px" />
                                    <img src="images/credit-cards/amex.png" alt="amex" style="margin-right:8px" />
                                    <img src="images/credit-cards/bank-check.png" alt="bank-check" style="margin-right:8px" />
                                    <img src="images/credit-cards/discover.png" alt="discover" style="margin-right:8px" />
                                </span>        			            
                            </p>
                            <p class="right">
                                Collect from <a href="http://www.mycodes.net/" title="源码之家" target="_blank">源码之家</a>    
                            </p>
                        </div>
                    </div>
                    <!-- END COPYRIGHT -->          
                </div>
                <!-- END BG WRAPPER --> 	      
            </div>
            <!-- END WRAPPER --> 	 	      
        </div>
        <!-- END LIGHT WRAPPER --> 
        <script type="text/javascript" src="js/jquery.custom.js"></script>
        <script type="text/javascript" src="js/contact.js"></script>
        

</body>
</html>
